.home-wrapper {
  background-color: #222831;
}

.hero-wrapper {
  height: 400px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;


  background-color: #393E46;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
}

@media (max-width: 767px) {
  .hero-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .span-break {
    display: none;
  }
}

.hero-wrapper h1 {
  font-size: 36px;
  width: 100%;
  margin: 0;
}

.hero-wrapper span {
  font-size: 26px;
  letter-spacing: 2px;
  font-weight: 100;
}

.about {
  width: 100%;
  padding: 100px 0 30px 0;

  background-color: #393E46;
  clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 100%);
}

.about-wrapper {
  max-width: 800px;
  margin: 125px auto 30px;
  padding: 0 10px;
}

.about-wrapper p {
  text-align: center;
}

.profile-image {
  position: relative;
  z-index: 1;
}

.profile-image img {
  width: 250px;
  margin: auto;
  border-radius: 50%;
  position: absolute;
  top: -100px;
  right: 0;
  left: 0;
  -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.28);
          box-shadow: 0 4px 8px rgba(0,0,0,0.28);
}

@media (max-width: 767px) {
  .profile-image img {
    width: 200px;
    top: -60px;
  }
}

.portfolio {
  margin: 100px 0 200px;
  display: flex;
  flex-direction: column;
}

.portfolio-cta {
  padding: 12px 36px;
  border: 3px solid #FFF;
  transition: all 0.2s ease-in-out;
  display: block;
  margin: 75px auto 0;
  font-size: 18px;
}

.portfolio-cta:hover {
  border: 3px solid #00ADB5;
}
