.home-wrapper {
  background-color: #222831;
}

.home-wrapper section > div {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease 0s;
}

.home-wrapper section.active > div {
  opacity: 1;
  transform: translateY(0);
}

.hero {
  height: 400px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  background-color: #393E46;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
}

@media (max-width: 767px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }
}

.hero-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.hero-wrapper h1 {
  font-size: 36px;
  width: 100%;
  margin: 0;
}

.hero-wrapper span {
  font-size: 26px;
  letter-spacing: 2px;
  font-weight: 100;
  border-right: 3px solid rgba(255,255,255,0.8);
  animation: typist 800ms steps(44) infinite normal;
  max-width: 0px;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes typist {
  0% { border-right: 3px solid rgba(255,255,255,0.8); }
  50% { border-right: 3px solid rgba(255,255,255,0); }
}

.about {
  width: 100%;
  padding: 100px 0 30px 0;

  background-color: #393E46;
  clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 100%);
}

.about-wrapper {
  max-width: 800px;
  margin: 125px auto 30px;
  padding: 0 10px;
}

.about-wrapper p {
  text-align: center;
}

.profile-image {
  position: relative;
  z-index: 1;
}

.profile-image img {
  width: 250px;
  margin: auto;
  border-radius: 50%;
  position: absolute;
  top: -100px;
  right: 0;
  left: 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.28);
}

@media (max-width: 767px) {
  .profile-image img {
    width: 200px;
    top: -60px;
  }
}

.portfolio {
  margin: 100px 0 200px;
  display: flex;
  flex-direction: column;
}

.portfolio-cta {
  padding: 12px 36px;
  border: 3px solid #FFF;
  transition: all 0.2s ease-in-out;
  display: block;
  margin: 75px auto 0;
  font-size: 18px;
}

.portfolio-cta:hover {
  border: 3px solid #00ADB5;
}
