.content-section {
  max-width: 1250px;
  display: flex;
  /* flex-direction: column; */
  margin: auto;
  /* min-height: calc(100vh - 206px); */
  padding-top: 60px;
  padding-bottom: 60px;
}

.pane {
  padding: 12px;
}

.pane img {
  box-shadow: 0 4px 25px rgba(0,0,0,0.38);
  display: block;
  margin: auto;
}

.pane-50 {
  width: 50%;
}

.pane-600 {
  max-width: 600px;
}

.pane-800 {
  max-width: 800px;
  width: 100%;
}

@media (max-width: 767px) {
  .pane-600 {
    padding-top: 100px;
  }
}

.center {
  margin-left: auto;
  margin-right: auto;
}
