.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  border: 1px solid transparent;
  -webkit-transition: border-color .2s;
  transition: border-color .2s;
  justify-content: space-between;
  box-shadow: 0 5px 25px rgba(0,0,0,.38);
  background-color: #393E46;
}

.project-wrapper {
  background-color: #222831;
  padding-top: 48px;
}

.project:hover {
  border-color: #2dc8ce;
}

.project-image-wrapper {
  width: 200px;
  height: 200px;
  display: flex;
  flex-shrink: 0;
  overflow: hidden;
}

.project-image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.project:hover .project-image-wrapper img {
  transform: scale(1.05);
}

.project-content {
  display: flex;
  flex-direction: column;
  padding: 12px;
  width: 100%;
}

.project-right-arrow {
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: flex-end;
  padding-right: 18px;
  transition: padding 0.2s;
}

.project:hover .project-right-arrow {
  padding-right: 12px;
}

.project-right-arrow img {
  height: 30px;
}


.project-wrapper p, .project-wrapper h2 {
  padding: 0;
  margin: 0;
  font-weight: 300;
}

.project-wrapper h2 {
  color: white;
  letter-spacing: 1px;
}

.project-wrapper p {
  color: rgba(255,255,255,0.7);
}



@media (max-width: 480px) {
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
    border: 0;
  }
  .project img {
    width: 100%;
    height: 200px;
  }

  .project-content {
    width: auto;
  }

  .project-image-wrapper {
    width: 100%;
    height: auto;
  }

  .project-wrapper h2 {
    text-align: center;
    padding-bottom: 5px;
  }

  .content {
    padding: 0 10px;
  }

  .project-right-arrow {
    display: none;
  }
}
