body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-size: 100% 800px;
  background-repeat: no-repeat;

  background-color: #222830;
}

p {
  line-height: 1.8rem;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
}

a {
  text-decoration: none;
  font-weight: 300;
  color: #FFF;
  transition: color 0.2s;
}

a:hover {
  color: #2dc8ce;
}

*::selection {
  background: #0d7377;
  color: #ffffff;
}
*::-moz-selection {
  background: #0d7377;
  color: #ffffff;
}
*::-webkit-selection {
  background: #0d7377;
  color: #ffffff;
}

h3 {
  text-align: center;
  color: white;
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 400;
}

.grid {
  width: 100%;
  display: flex;
  max-width: 1250px;
  margin: auto;
}

.grid-section {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  .grid {
    flex-direction: column;
  }

  .grid-section {
    width: 100%;
  }
}
