body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-size: 100% 800px;
  background-repeat: no-repeat;

  background-color: #393E46;
}

p {
  line-height: 1.8rem;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
}

a {
  text-decoration: none;
  font-weight: 300;
  color: #ddd;
  transition: color 0.2s;
}

a:hover {
  color: #00ADB5;
}

*::selection {
  background: #00ADB5;
  color: #ffffff;
}
*::-moz-selection {
  background: #00ADB5;
  color: #ffffff;
}
*::-webkit-selection {
  background: #00ADB5;
  color: #ffffff;
}

h3 {
  text-align: center;
  color: white;
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 400;
}
